@import "colors.scss";
/* GRID EXAMPLE */
/* 
<div class="container">
  <div class="container__row">
    <div class="container__col-sm-12 container__col-md-4">sm12, md4</div>
    <div class="container__col-sm-12 container__col-md-4">sm12, md4</div>
    <div class="container__col-sm-12 container__col-md-4">sm12, md4</div>
  </div>
</div>
*/
@import "grid.scss";
@import "reset.scss";

/* OVERALL STYLES */
.btn-outline-red {
  color: #FF4136;
  background-color: transparent;
  background-image: none;
  border-color: #FF4136 !important;
  &:hover {
    background-color: #FF4136;
    color:#fff;
  }
}
.btn-outline-blue {
  color: #0074D9;
  background-color: transparent;
  background-image: none;
  border-color: #0074D9 !important;
  &:hover {
    background-color: #0074D9;
    color:#fff;
  }
}
.btn-outline-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff !important;
  &:hover {
    background-color: #fff;
    color:#333;
  }
}
.btnMarginLeft {
  margin-left:20px;
}

.btn {
  display: inline-block;
  min-width: 140px;
  text-decoration:none;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 0.8rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
}
a {
  transition: all 0.15s ease 0s;
  -moz-transition: all 0.15s ease 0s;
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
}
.mx-auto {
  margin:0 auto;
}
.align-center {
  text-align:center;
}


/* NAVIGATION */
.sticky {
  position: sticky;
  top: 0;
  z-index: 1020;
}
.mainNav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 20px;
}
.branding {
  flex-direction: row;
  margin-right: auto;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  a {
    color:#fff;
    text-decoration: none;
    padding: 0 10px;
  }
}
.menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  .active {
    color:#0074D9;
  }
  a {
    color:#fff;
    text-decoration: none;
    padding: 0 10px;
    &:hover {
      color:#FF4136;
    }
  }
}

@media screen and (min-width: 767px) {
}
@media screen and (max-width: 767px) {
  header {  
    nav {
      background-color:#000;
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      opacity:0;
      visibility:hidden;
      transition:all 0.3s ease-in-out;
      display:block !important;
      .branding {
        display:none;
      }
      .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .menuItem {
          margin-bottom: 20px;
          a {
            font-size: 30px;
          }
        }
      }
    }
  }

  .toggle-btn {
    display:block;
    position:fixed;
    z-index:10;
    right:10px;
    top:10px;
    cursor:pointer;
    
    .bar {
      width:30px;
      height:2px;
      margin:7px auto;
      background-color:#fff;
      transition:all 0.3s ease-in-out;
      
      &:nth-child(2) {
        width:20px;
      }
    }
  }

  #toggle:checked {
    &~nav {
      opacity:1;
      visibility:visible;
    }
    
    &+label.toggle-btn {
      .bar {
        background-color:#FF4136;

        &:nth-child(2) {
          transform:translateX(50px);
          opacity:0;
        }

        &:nth-child(1) {
          transform:translateY(10px) rotate(45deg);
        }

        &:nth-child(3) {
          transform:translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}






/* HOME PAGE LAYOUT */
.hero {
  height:100%;
  width:100%;
}
.heroHeader {
  padding: 132px 0 25% 0;
}
.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  margin: 0 auto;
  display: initial;
  padding: 2px;
  &:after{
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -4px 0 #FF4136;
    top: 0;
    color: white;
    background: #111111;
    overflow: hidden;
    animation: noise-anim 2s infinite linear alternate-reverse;
  }
  &:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 4px 0 #0074D9;
    top: 0;
    color: white;
    background: #111111;
    overflow: hidden;
    animation: noise-anim-2 15s infinite linear alternate-reverse;
  }
}
@keyframes noise-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}
@keyframes noise-anim-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      $top: random(100);
      $bottom: random(101 - $top);
      clip-path: inset(#{$top}% 0 #{$bottom}%  0);
    }
  }
}


.jumbo {
  .jumboHeader{
    padding:30px 0;
    .glitch {
      font-size: 50px;
    }
  }
}


.subGlitch {
  color: white;
  font-size: 20px;
  position: relative;
  margin: 0 auto;
  margin-bottom:0.3rem;
  display: initial;
  padding: 2px;
  &:after {
    content: attr(data-text);
    position: absolute;
    left: 0px;
    text-shadow: -1px 0 #FF4136;
    top: 0;
    color: white;
    overflow: hidden;
  }
  &:before {
    content: attr(data-text);
    position: absolute;
    left: 0px;
    text-shadow: 2px 0 #0074D9;
    top: 0;
    color: white;
    overflow: hidden;
  }
}
  /*----- TIMELINE ITEM -----*/

  .timeline-item {
      padding-left: 40px;
      position: relative;
      list-style: none;
      &:last-child {
          padding-bottom: 0;
      }
  }

  /*----- TIMELINE MARKER -----*/

.timeline-marker {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 15px;
    &:before {
        border-radius: 100%;
        content: "";
        display: block;
        height: 15px;
        position: absolute;
        top: 4px; left: 0;
        width: 15px;
        transition: background 0.3s ease-in-out;
        background-color: #fff;
    }
    &:after {
        content: "";
        width: 3px;
        background: #FF4136;
        display: block;
        position: absolute;
        top: 24px; bottom: 0; left: 6px;
    }
    .timeline-item:last-child &:after {
        content: none;
    }
}
.timeline-item:not(.period):hover .timeline-marker:before {
    background: #FF4136;
}

/*----- TIMELINE PERIOD -----*/

.period {
    padding: 0;
    .timeline-info {
        display: none;
    }
    .timeline-marker {
        &:before {
            background: transparent;
            content: "";
            width: 15px;
            height: auto;
            border: none;
            border-radius: 0;
            top: 0;
            bottom: 30px;
            position: absolute;
            border-top: 3px solid #FF4136;
            border-bottom: 3px solid #FF4136;
        }
        &:after {
            content: "";
            height: 32px;
            top: auto;
        }
    }
    .timeline-content {
        padding: 40px 0 70px;
    }
    .timeline-title {
        margin: 0;
    }
}
.timeline-centered {
    @media (min-width: 992px) {
        &,
        .timeline-item,
        .timeline-info,
        .timeline-marker,
        .timeline-content {
            display: block;
            margin: 0;
            padding: 0;
        }
        .timeline-item {
            padding-bottom: 40px;
            overflow: hidden;
        }
        .timeline-marker {
            position: absolute;
            left: 50%;
            margin-left: -7.5px;
        }
        .timeline-info,
        .timeline-content {
            width: 50%;
        }
        > .timeline-item:nth-child(odd) .timeline-info {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item:nth-child(odd) .timeline-content {
            float: right;
            text-align: left;
            padding-left: 30px;
        }    
        > .timeline-item:nth-child(even) .timeline-info {
            float: right;
            text-align: left;
            padding-left: 30px;
        }
        > .timeline-item:nth-child(even) .timeline-content {
            float: left;
            text-align: right;
            padding-right: 30px;
        }
        > .timeline-item.period .timeline-content {
            float: none;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        .timeline-item.period {
            padding: 50px 0 90px;
        }
        .period .timeline-marker:after {
            height: 30px;
            bottom: 0;
            top: auto;
        }
        .period .timeline-title {
            left: auto;
        }
    }
}
.importantItems {
  padding: 3em;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  color:#333;
}






/* CONTACT */
.contactForm {
  input, textarea {
    display: block;
    background: none;
    font-family: 'Roboto Mono';
    font-size: 12px;
    height: 60px;
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #fff;
    -webkit-appearance: none;
    resize: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    outline: 0;
  }
}

/* RESUME */
.section {
  background: #292a2a;
  position: relative;
}
.colorDark {
  background: #292a2a;
}
.colorDarkLight {
  background: #2b2c2c;
}
.colorDarkLightLighter {
  background: #2d2e2e;
}
.colorDark-over {
  background: #292a2a;
  display: block;
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1;
}
.colorDarkLight-over {
  background: #2b2c2c;
  display: block;
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1;
}
.colorDarkLightLighter-over {
  background: #2d2e2e;
  display: block;
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 1;
}
.backgroundRight {
  right: 0;
}


.quickInfo {
  text-align: center;
  p, address {
    margin-bottom:0.3em;
  }
}
.sectionContainer {
  z-index: 2;
  position: relative;
  display: -ms-flexbox;
  display: flex;
}
.sectionHeader {
  text-align: right;
}
.content {
  padding: 1rem 0;
  h2 {
    text-transform: uppercase;
    margin-bottom:0.3em
  }
}
.contentBody {
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #0074D9;
    }
  }
  h4 {
    margin-bottom:0.3em;
  }
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.mediaFigure {
  margin-left: 0;
  margin-right: 0;
  width: 2rem;
  .number {
    font-size: 1.2rem;
    line-height: 1.45;
    text-transform: uppercase;
  }
}
.mediaBody {
  -ms-flex: 1;
  flex: 1;
  h3 {
    margin-bottom:0.3em;
    text-transform: uppercase;
  }
}
.experiance {
  .timeframe {
    opacity: .6;
    font-size: 0.7rem;
  }
  .location {
    opacity: .6;
    font-size: 0.7rem;
  }
  * {
    margin-bottom: .4rem;
  }
}

@media screen and (max-width: 999px) {
  .sectionHeader {
    text-align: left;
  } 
  .jumbo .jumboHeader {
    text-align:center;
  }
  .social {
    position: relative !important;
  }
}
@media screen and (max-width: 767px) {
  .quickInfo {
    p, address {
      margin-bottom:1.45rem;
    }
  }
  .subGlitch {
    font-size:14px;
  }
  .social {
    justify-content: center  !important;
      a {
        padding: 0px 10px  !important;
        font-size: 20px !important;
    }
  }
  .blogThumbnail {
    height: 70px !important;
    width: 70px !important;
  }
}

/* BLOG */
.blogMedia {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 30px;
  .blogThumbnail {
    width: 110px;
    height: 110px;
    display: flex;
    margin-right: 1rem!important;
  }
}
.mediaBody {
  flex: 1 1;
  .title {
    a {
      color:#fff;
      text-decoration:none;
      &:hover {
        color:#FF4136;
      }
    }
  }
  .meta {
    opacity: .6;
    font-size: 0.7rem;
    margin-bottom:0.3rem;
    span:after {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #8f8f8f;
      margin-left: .5rem;
      margin-right: .5rem;
      position: relative;
      top: -3px;
    }
    span:last-child::after {
      display:none;
    }
  }
  .intro{
    margin-bottom:0.3rem;
  }
  .moreLink {
    text-decoration: none;
    background-color: transparent;
    &:hover {
      color: #0056b3;
      text-decoration: underline;
    }
  }
}

/* BLOG POST */
.blogPostMedia {
  .blogPostThumnail {
    max-width: 320px;
    float: left;
    padding: 0 20px 20px 0;
  }
}


/* PROJECTS */
.portfolio {
  .col-lg-4 {
    &:hover {
      .title {
        color:#FF4136;
      }
      .moreLink{
        text-decoration:underline;
      }
    }
  }
  a {
    color:#333;
    text-decoration:none;
  }
}

.importantMedia {
  display: block;
  padding: 3em;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  a {
    color:#333;
    text-decoration:none;
  }
}
.importantBody {
  .title {
    margin-bottom:0.3rem;
  }
  .meta {
    opacity: .6;
    font-size: 0.7rem;
    margin-bottom:0.3rem;
    span:after {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #8f8f8f;
      margin-left: .5rem;
      margin-right: .5rem;
      position: relative;
      top: -3px;
    }
    span:last-child::after {
      display:none;
    }
  }
  .intro{
    margin-bottom:0.3rem;
  }
}

.portfolioMedia {
  margin-bottom: 30px;
  display: block;
  a {
    color:#fff;
    text-decoration:none;
  }
}
.portfolioBody {
  .title {
    margin-bottom:0.3rem;
  }
  .meta {
    opacity: .6;
    font-size: 0.7rem;
    margin-bottom:0.3rem;
    span:after {
      content: "";
      display: inline-block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #8f8f8f;
      margin-left: .5rem;
      margin-right: .5rem;
      position: relative;
      top: -3px;
    }
    span:last-child::after {
      display:none;
    }
  }
  .intro{
    margin-bottom:0.3rem;
  }
}

/* FOOTER */
.social {
  padding: 20px 20px 20px 0;
  a {
    color: #fff;
    padding: 0 7px;
    font-size: 16px;
    &:hover {
      color:#FF4136;
    }
  }
}
footer {
  .contactMe {
    margin:4em 0 5em 0;
  }
  .siteInfo {
    margin-bottom:2em;
  }
  .list-unstyled {
    list-style:none;
    margin:0;
    .listItem {
      text-decoration:none;
      color:#fff;
      &:hover {
        text-decoration:underline;
        color:#FF4136;
      }
      &.active {
        color:#0056b3;
      }
    }
  }
}